---
layout: default
---

<div class="home">

  <ul class="post-list">
    {{#each site.posts}}
      <li>
        <span class="post-meta">{{datetime date}}</span>

        <h2>
          <a class="post-link" href="{{fullpath url}}">{{title}}</a>
        </h2>
      </li>
    {{/each}}
  </ul>

</div>
