<!DOCTYPE html>
<html>

  {{> head}}

  <body>

    {{> header}}

    <div class="page-content">
      <div class="wrapper">
        {{content}}
      </div>
    </div>

    {{> footer}}

  </body>

</html>
